<div class="p-4 flex flex-col gap-8">

  <!-- Activity Header -->
  <header>

    <div class="flex items-center gap-4 justify-between">
      <div class="flex items-center gap-4">
        <h1 class="text-3xl">{{ event.name }}</h1>
        <div class="flex">
          <sub class="text-xs rounded-xl bg-neutral-600 px-1.5 text-white" *ngIf="event.private">Private</sub>
          <sub class="text-xs rounded-xl bg-yellow-400 px-1.5 text-white" *ngIf="!event.private">Public</sub>
        </div>
      </div>

      <div class="flex gap-4">
        <a [routerLink]="['configure']" *ngIf="isEventOrganizer">
          <button class="text-xs rounded-xl bg-blue-600 px-1.5 text-white">Configure</button>
        </a>
        <!--        <button *ngIf="isParticipant$ | async" class="text-xs rounded-xl bg-sky-500 px-1.5 text-white">Join Event</button>-->
      </div>
    </div>

    <div class="text-xs py-2">
      {{ event.starts_at | date:'medium' }} - {{ event.ends_at | date:'medium' }}
    </div>

    <hr>

    <sub class="text-xs">{{ event.activity_id }}</sub>
  </header>

  <!-- Activity Details -->
  <main hidden>
    <p>
      The event details should go here
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci at atque culpa dolor dolorem ducimus eius error
      eveniet facere id impedit laborum, minus nesciunt nihil nostrum possimus, saepe? Dolores, nulla!
    </p>
    <br>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa deleniti dicta est et nam porro quaerat totam
      velit! Ex nam quam quisquam tempore tenetur totam velit! Accusantium delectus iste quae!
    </p>
    <br>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa deleniti dicta est et nam porro quaerat totam
      velit! Ex nam quam quisquam tempore tenetur totam velit! Accusantium delectus iste quae!
    </p>
  </main>

  <!-- Task -->
  <section>
    <div class="flex items-center gap-4 justify-between">

      <!-- Instance Details Header -->
      <div class="flex items-center gap-4">
        <h1 class="text-2xl">Instance Details</h1>

        <!-- Instance Status -->
        <div class="flex gap-2">

          <sub class="text-xs rounded-xl bg-neutral-600 px-1.5 text-white" *ngIf="!task">. . .</sub>

          <sub class="text-xs rounded-xl bg-neutral-600 px-1.5 text-white"
               *ngIf="task && !task.public_ip && !task.stopped_reason">Awaiting Ip. . .</sub>
          <sub class="text-xs rounded-xl bg-neutral-600 px-1.5 text-white" *ngIf="task && task.stopped_reason">Task
            Stopped</sub>

          <sub class="text-xs rounded-xl bg-green-500 hover:bg-green-600 px-1.5 text-white cursor-pointer"
               *ngIf="task && task.public_ip" (click)="copyIpAddress(task.public_ip)">{{ task.public_ip }}
          </sub>

          <sub>
            <button (click)="getTask()" [class]="(loading$ | async) ? 'animate-spin' : ''">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                   stroke="currentColor" class="size-4">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99"/>
              </svg>
            </button>
          </sub>

        </div>

      </div>

      <!-- Instance Controls -->
      <div class="flex gap-2" *ngIf="isParticipant$ | async">
        <button
          class="text-xs rounded-xl bg-blue-600 px-1.5 text-white disabled:bg-blue-200"
          (click)="startTask()"
          [disabled]="task?.public_ip"
        >Start Task
        </button>
        <button
          class="text-xs rounded-xl bg-red-500 px-1.5 text-white disabled:bg-red-200"
          (click)="stopTask()"
          [disabled]="!task?.public_ip || task?.stopped_reason"
        >Stop Task
        </button>
        <!--        <button *ngIf="isParticipant$ | async" class="text-xs rounded-xl bg-sky-500 px-1.5 text-white">Join Event</button>-->
      </div>
    </div>

  </section>

  <!-- Scoring -->
  <section class="flex flex-col gap-4">
    <!-- Header -->
    <div class="flex items-center gap-4 justify-between">

      <!-- Scoring + Status -->
      <div class="flex items-center gap-4">
        <h1 class="text-2xl">Scoring</h1>
        <div class="flex">
          <sub class="text-xs rounded-xl bg-emerald-500 px-1.5 text-white" *ngIf="isScoringActive()">Active</sub>
          <sub class="text-xs rounded-xl bg-neutral-500 px-1.5 text-white" *ngIf="!isScoringActive()">Inactive</sub>
        </div>
      </div>

      <!-- Capture -->
      <form [formGroup]="captureForm" class="flex gap-5 py-2" *ngIf="isParticipant$ | async" (ngSubmit)="captureFlag()">

        <div class="flex gap-2 items-center">
          <label for="flag">Capture Flag</label>
          <input type="text" id="flag" placeholder="flag id" formControlName="id">
        </div>


        <button type="submit" [disabled]="!captureForm.valid" class="">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
               stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round"
                  d="M6 12 3.269 3.125A59.769 59.769 0 0 1 21.485 12 59.768 59.768 0 0 1 3.27 20.875L5.999 12Zm0 0h7.5"/>
          </svg>
        </button>
      </form>

    </div>


    <table class="w-full text-left">
        <tr>
          <th>User</th>
          <th>Score</th>
        </tr>

      <tr *ngIf="!history.length">
        <td colspan="2">No Scores Found</td>
      </tr>

        <tr *ngFor="let record of history">
          <td>{{getUserForHistory(record).username}}</td>
          <td>{{getScoreForHistory(record)}}</td>
        </tr>
    </table>

  </section>
</div>
