<nav>
    <ul>
        <li>
            <a [routerLink]="['/']">Home</a>
        </li>
        <li>
            <a [routerLink]="['/events']">Events</a>
        </li>
    </ul>

    <!-- Not Logged In -->
    <ul *ngIf="!(authService.isLoggedIn | async)">
        <li>
            <a [routerLink]="['/register']">Register</a>
        </li>
        <li>
            <a [routerLink]="['/login']">Login</a>
        </li>
    </ul>

    <!-- Logged In -->
    <ul *ngIf="authService.isLoggedIn | async">
      <li>
        {{authService.getUsername()}}
      </li>
        <li>
            <a href="" (click)="onLogout()">Logout</a>
        </li>
    </ul>
</nav>
