<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <!-- Username -->
  <div>
    <label for="username">Username</label>
    <input
      type="text"
      id="username"
      formControlName="username"
    >
  </div>

  <!-- Password -->
  <div>
    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      formControlName="password"
    >
  </div>

  <!-- Login -->
  <div>
    <a href="/register">Register</a>
    <button type="submit" [disabled]="!form.valid">Login</button>
  </div>
</form>
